<div class="tile">
<div class="row">


  <div class="col-md-4 col-md-offset-0">

  <h1><%= @page.title %></h1>
  <h4>Rank:
    <%= @page.ranks.average(:rating).round(0) %></h4>

  <% if user_signed_in? %>
    <% if @page.user_id == current_user.id %>

      <ul>
        <li><%= link_to "Edit", edit_page_path(@page) %></li>
      </ul>
      <ul>
        <li><%= link_to "Delete", page_path(@page), method: :delete, data: {confirm: "Are you sure ?" } %></li>
      </ul>
      <h1></h1>

    <% end %>
  <% end %>

  <br>
  <h4>
    Ranks previously given:
  </h4>
  <%= render @page.ranks %>
  <br>
  <h4>
    Average rank:
  </h4>
  <div class="average-rank-rating" data-score=<%= @average_rank %>></div>
  <br>
  <br>
  <a href="/pages/<%= @page.id %>">
 <%= image_tag @page.page_image.url(:page_index) %>
 </a>
  </div>

  </div>
</div>


<script>
  $('.rank-rating').raty({
    readOnly: true,
    score: function () {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>

<script>
  $('.average-rank-rating').raty({
    readOnly: true,
    path: '/assets/',
    score: function () {
      return $(this).attr('data-score');
    }
  });
</script>
