
<h1>News Home Page</h1>

<ul><li><%= link_to "page 1", page1_path %></li></ul>
<ul><li><%= link_to "page 2", page2_path %></li></ul>
<ul><li><%= link_to "page 3", page3_path %></li></ul>
<ul><li><%= link_to "page 4", page4_path %></li></ul>
<ul><li><%= link_to "page 5", page5_path %></li></ul>
