<div class="tile">
  <h4 align="right">
    <% if !@p3.blank? %>
    Rank:
    <%= @p3.ranks.average(:rating).round(0) %></h4>
<% end %>
  <h1>
    <strong><%= @page3["title"] %></strong>
  </h1>

  <h3><%= @page3["body"][0]["model"]["text"]%></h3>

  <p><%= @page3["body"][1]["model"]["text"]%></p>
  <p><%= @page3["body"][2]["model"]["text"]%></p>
  <p><%= @page3["body"][3]["model"]["text"]%></p>
  <p><%= @page3["body"][4]["model"]["text"]%></p>
  <p><%= @page3["body"][5]["model"]["text"]%></p>
  <p><%= @page3["body"][6]["model"]["text"]%></p>
  <p><%= @page3["body"][7]["model"]["text"]%></p>
  <p><%= @page3["body"][8]["model"]["text"]%></p>

  <br>

<% if !@p4.blank? %>
  <a href=<%= page_path(@p4) %>>
    <img align="right" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/90/Next_Arrow.svg/600px-Next_Arrow.svg.png" width="30" height="30">
  </a>
<% end %>

<% if !@p2.blank? %>
  <a href=<%= page_path(@p2) %>>
    <img align="left" src="https://image.freepik.com/free-icon/back-navigational-arrow-button-pointing-to-left_318-48409.jpg" width="30" height="30">
  </a>
<% end %>

</div>

<br>
<%= render 'show' %>
