
<h4 align="right">Article | 4 | </h4>

<h1><%= @page4["title"] %></h1>

<h3><%= @page4["body"][0]["model"]["text"]%></h3>
<p><%= @page4["body"][1]["model"]["text"]%></p>

<ul style="list-style-type:disc;">
  <li><%= @page4["body"][2]["model"]["items"][0] %></li>
  <li><%= @page4["body"][2]["model"]["items"][1] %></li>
  <li><%= @page4["body"][2]["model"]["items"][2] %></li>
  <li><%= @page4["body"][2]["model"]["items"][3] %></li>
</ul>

<p><%= @page4["body"][3]["model"]["text"]%></p>

<ul style="list-style-type:disc;">
  <li><%= @page4["body"][4]["model"]["items"][0] %></li>
  <li><%= @page4["body"][4]["model"]["items"][1] %></li>
</ul>

<p><%= @page4["body"][5]["model"]["text"]%></p>
