
<div class="tile">
<h4 align="right">Article 1 </h4>

<h1><strong><%= @page1["title"] %></strong></h1>

<h3><%= @page1["body"][0]["model"]["text"]%></h3>

<p><%= @page1["body"][1]["model"]["text"]%></p>
<h1> </h1>
<img src= <%= @page1["body"][2]["model"]["url"] %> alt= <%= @page1["body"][2]["model"]["altText"] %> height="420" width="640">
<h1> </h1>
<p><%= @page1["body"][3]["model"]["text"]%></p>
<p><%= @page1["body"][4]["model"]["text"]%></p>


<ul style="list-style-type:disc;">
  <li><%= @page1["body"][5]["model"]["items"][0] %></li>
  <li><%= @page1["body"][5]["model"]["items"][1] %></li>
</ul>

<a href= <%= page2_path %> >
<img align="right" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/90/Next_Arrow.svg/600px-Next_Arrow.svg.png" width="30" height="30">
</a>

</div>

<%= render 'show' %>
