
<h4 align="right">Article | 3 | </h4>

<h1><%= @page3["title"] %></h1>

<h3><%= @page3["body"][0]["model"]["text"]%></h3>

<p><%= @page3["body"][1]["model"]["text"]%></p>
<p><%= @page3["body"][2]["model"]["text"]%></p>
<p><%= @page3["body"][3]["model"]["text"]%></p>
<p><%= @page3["body"][4]["model"]["text"]%></p>
<p><%= @page3["body"][5]["model"]["text"]%></p>
<p><%= @page3["body"][6]["model"]["text"]%></p>
<p><%= @page3["body"][7]["model"]["text"]%></p>
<p><%= @page3["body"][8]["model"]["text"]%></p>
