<div class="tile">
  <h4 align="right">
    Rank:
    <%= @p4.ranks.average(:rating).round(0) %></h4>

  <h1>
    <strong><%= @page4["title"] %></strong>
  </h1>

  <h3><%= @page4["body"][0]["model"]["text"]%></h3>
  <p><%= @page4["body"][1]["model"]["text"]%></p>

  <ul style="list-style-type:disc;">
    <li><%= @page4["body"][2]["model"]["items"][0] %></li>
    <li><%= @page4["body"][2]["model"]["items"][1] %></li>
    <li><%= @page4["body"][2]["model"]["items"][2] %></li>
    <li><%= @page4["body"][2]["model"]["items"][3] %></li>
  </ul>

  <p><%= @page4["body"][3]["model"]["text"]%></p>

  <ul style="list-style-type:disc;">
    <li><%= @page4["body"][4]["model"]["items"][0] %></li>
    <li><%= @page4["body"][4]["model"]["items"][1] %></li>
  </ul>

  <p><%= @page4["body"][5]["model"]["text"]%></p>

  <br>

  <a href=<%= page_path(@p5) %>>
    <img align="right" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/90/Next_Arrow.svg/600px-Next_Arrow.svg.png" width="30" height="30">
  </a>

  <a href=<%= page_path(@p3) %>>
    <img align="left" src="https://image.freepik.com/free-icon/back-navigational-arrow-button-pointing-to-left_318-48409.jpg" width="30" height="30">
  </a>

</div>

<br>
<%= render 'show' %>
