
<div class="tile">
<h4 align="right">Article  2  </h4>

<h1><strong><%= @page2["title"] %></strong></h1>

<h3><%= @page2["body"][0]["model"]["text"]%></h3>
<h1> </h1>
<img src= <%= @page2["body"][1]["model"]["url"] %> alt= <%= @page2["body"][1]["model"]["altText"] %> height="420" width="640">
<h1> </h1>
<p><%= @page2["body"][2]["model"]["text"]%></p>
<p><%= @page2["body"][3]["model"]["text"]%></p>
<h1> </h1>
<img src= <%= @page2["body"][4]["model"]["url"] %> alt= <%= @page2["body"][4]["model"]["altText"] %> height="420" width="640">
<h1> </h1>
<p><%= @page2["body"][5]["model"]["text"]%></p>
<h1> </h1>
<img src= <%= @page2["body"][6]["model"]["url"] %> alt= <%= @page2["body"][6]["model"]["altText"] %> height="420" width="640">
<h1> </h1>
<p><%= @page2["body"][7]["model"]["text"]%></p>

<a href= <%= page3_path %> >
<img align="right" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/90/Next_Arrow.svg/600px-Next_Arrow.svg.png" width="30" height="30">
</a>
</div>
