<!DOCTYPE html>

<nav class="navbar navbar-default">
  <div class="container">

    <div class="nav navbar-nav navbar-left">
      <a href= <%= root_path %> >
    <img src="http://blog.thepilatessuite.co.uk/wp-content/uploads/2016/08/ls_news.jpg" width="110" height="70">
      </a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <p></p>
      <a href= <%= new_page_path %> >
      <img src="https://image.flaticon.com/icons/svg/60/60740.svg" width="40" height="40">
      </a>
    </ul>

  </div>
</nav>

<html>
  <head>
    <title>OJNews</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <%= yield %>
  <div class="col-md-10 col-md-offset-9">
  <font color="black"><%= render 'shared/footer' %></font>
  </div>

 <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
