<!DOCTYPE html>

<nav class="navbar navbar-default">
  <div class="container">

    <div class="nav navbar-nav navbar-left">
      <li><%= link_to "News" , root_path, class: "navbrand_brand" %></li>
    </div>

    <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Add Article", new_page_path %></li>
    </ul>

  </div>
</nav>

<html>
  <head>
    <title>PageRank</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
